body {
    background: #f0f0f0;
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.logout {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 8px;
    background: #444;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dia-card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.botao {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.verde {
    background: #28a745;
}

.vermelho {
    background: #dc3545;
}

.login-box {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.erro {
    color: red;
    text-align: center;
}
